<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="60">
	<meta name="description" content="CheifDarkChaos Games Official Website">
	<meta name="keywords" content="HTML,CSS">
	<meta name="author" content="Hansel Wei">
	<title>ChiefDarkChaos Games</title>
	<link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
	<section id="top"></section>
	<div id="sidebar">
		<ul class="nav">
			<li><a href="../index.html">Home</a></li>
			<li><a href="../index.html#About">About</a></li>
			<li><a href="archive.html">Archive</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="donate.html">Donate</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ul>
		<div id="sidebar-btn">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<section class="content">
    <div class="title">
      <ul style="list-style-type:none">
				<li><a href="#" id="chest"><img src="../images/Chest.png" width="60" height="75" alt="Chest.png"><br>Click Me</a><h2>Days drinking coffee: <span id="increment">0</span></h2></li>
        <li>
          <h1>DarkChaos Games</h1></li>
      </ul>
    </div>

			<div id="dec2014">
				<h3>Darkus Rising</h3>
				<h4>#01 Early Alpha Graphics    </h4>
				<p>  Our main project game in production is an Adventure game that features the protagonist going through rooms in a retro Dungeon-Crawl game. It is expected that this game will be available online by Fall of 2015. That's a long ways to go so here is
					a taste of the drafted art done by our graphic artist torn from our early-alpha progress: </p>
				<p>&nbsp;</p>
				<p>You may just be a thief and be eager to find treasure. Here is one of the main character sprites moving to the right-right-right...right..right with a knife. There are 4 playable characters to be released by final release of Darkus Rising, so check
					back for more content!</p>
				<p>                              <img src="../images/sprS_walkrighttest.png" width="690" height="132" alt="theifsprite"> </p>
				<p>&nbsp; &nbsp;</p>
				<p>There were many rooms but after many trials the game ended up with this template:</p>
				<p><img src="../images/bkg_room.png" width="687" height="558" alt="room"></p>
				<p align="right"> <a href="index.html#Description">[Back to Top]</a></p>
			</div>
		</section>

	<!-- end .container -->

	<footer>© 2014 DarkChaos Games</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="../js/animations.js"></script>
</body>

</html>
