<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="60">
	<meta name="description" content="ChiefDarkChaos Nightly Dev Website">
	<meta name="keywords" content="HTML,CSS">
	<meta name="author" content="Hansel Wei">
	<title>ChiefDarkChaos Games</title>
	<link rel="stylesheet" href="../styles/styles.css">
	<link rel="stylesheet" href="../styles/contact.css">
</head>

<body>
	<section id="top"></section>
	<div id="sidebar">
		<ul class="nav">
			<form>
			Search Site:
			<input type="search" name="websearch">
		</form>
			<li><a href="../index.html">Home</a></li>
			<li><a href="../index.html#About">About</a></li>
			<li><a href="archive.html">Archive</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="donate.html">Donate</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ul>
		<div id="sidebar-btn">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<section class="content">
		<div class="title">
			<ul style="list-style-type:none">
				<li><a href="#" id="chest"><img src="../images/Chest.png" width="60" height="75" alt="Chest.png"><br>Click Me</a><h3>Days without null pointer exceptions: <span id="increment">0</span></h3></li>
				<li>
					<h1>DarkChaos Games</h1></li>
			</ul>
		</div>
	</section>
	<div class="spacing">&nbsp;</div>
	<section id="contact">
		<h1>Contact Us</h1>
		<ul>
			<li><strong><h2>Hansel Wei</h2></strong> <br><i>The Master Programmer | Webmaster </i> </li>
			<p>GamerTag: Darkmastermindz </p>
			<form class="email-form" action="mailto:darkmastermindz@gmail.com?subject=ChiefDarkChaosGames" method="post" enctype="text/plain">
				First name:<br> <input type="text" name="fname"><br> Last name:<br> <input type="text" name="lname"><br> Email:
				<br> <input type="text" name="email"><br><br> Message:
				<br> <input type="text" cols="100" rows="100" name="message" class="longtext"><br><br>
				<input type="submit" value="Submit">
			</form>
		</ul>


		<ul>
			<li><strong><h2>Zach Gainer</h2><br>
   	  </strong><i>&quot;Lunchbox&quot; Graphics Designer | Graphics </i></li>
		</ul>
		<p>GamerTag: Chaos1213g, Chaosinalunchbox </p>
		<form class="email-form" action="mailto:chaos1213g@gmail.com?subject=ChiefDarkChaosGames" method="post" enctype="text/plain">
			First name:<br> <input type="text" name="fname"><br> Last name:<br> <input type="text" name="lname"><br> Email:
			<br> <input type="text" name="email"><br><br> Message:
			<br> <input type="text" cols="100" rows="100" name="message" class="longtext"><br><br>
			<input type="submit" value="Submit">
		</form>
		<ul>
			<li><strong><h2>Nick Sherrill</h2><br>
    	</strong><i>Chief of things and Ideas | Outsourcing</i></li>
		</ul>
		<p>GamerTag: ChiefBlueScreen</p>
		<form class="email-form" action="mailto:levelupgamedev@gmail.com?subject=ChiefDarkChaosGames" method="post" enctype="text/plain">
			First name:<br> <input type="text" name="fname"><br> Last name:<br> <input type="text" name="lname"><br> Email:
			<br> <input type="text" name="email"><br><br> Message:
			<br> <input type="text" cols="100" rows="100" name="message" class="longtext"><br><br>
			<input type="submit" value="Submit">
		</form>
		<p>&nbsp;</p>
		<p><a href="contact.html#top">[Back to Top]</a></p>
	</section>

	<footer>© 2017 ChiefDarkChaos Games (Hansel Wei)</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="../js/animations.js"></script>
</body>

</html>
