<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="60">
  <meta name="description" content="ChiefDarkChaos Nightly Dev Website">
  <meta name="keywords" content="HTML,CSS">
  <meta name="author" content="Hansel Wei">
  <title>CheifDarkChaos Games</title>
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/donate.css">
</head>

<body>
  <section id="top">
  </section>
  <div id="sidebar">
    <form>
    Search Site:
    <input type="search" name="websearch">
  </form>
    <ul class="nav">
      <li><a href="../index.html">Home</a></li>
      <li><a href="../index.html#About">About</a></li>
      <li><a href="archive.html">Archive</a></li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="donate.html">Donate</a></li>
      <li><a href="contact.html">Contact Us</a></li>
    </ul>
    <div id="sidebar-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <section class="content">
    <div class="title">
      <ul style="list-style-type:none">
        <li><a href="#" id="chest"><img src="../images/Chest.png" width="60" height="75" alt="Chest.png"><br>Click Me</a><h2>Revenue in Hugs Earned: $<span id="increment">0</span></h2></li>
        <li>
          <h1>DarkChaos Games</h1></li>
      </ul>
    </div>
  </section>

  <section id="featured">
    <h2>We rely on the community</h2>
    <h2>to publish games!</h2>
    <div class="donations">
      <h1> LOGIN TO DONATE! </h1>
      <form>
        User name:<br>
        <input type="text" name="username"><br> User password:<br>
        <input type="password" name="psw">
      </form>

      <form>
        <input type="radio" name="donation" value="5">$5+ Donation<br>Your gamertag will be immortalized forever on this website.<br><br><br>
        <input type="radio" name="donation" value="20">$20+ Donation<br>Your gamertag will immortalized forever on this website. You will receive 1 week early access to beta-testing and all DRM Free versions until the final release for yours to keep<br><br><br>
        <input type="radio" name="donation" value="50">$50+ Donation<br><br>Your gamertag will immortalized forever on this website. You will receive 1 week early access to beta-testing and all DRM Free versions until the final release for yours to keep.<br><br><br>
        <input type="radio" name="donation" value="100">$100+ Donation<br><br>Your gamertag will immortalized forever on this website. You will receive 1 week early access to beta-testing and all DRM Free versions until the final release for yours to
        keep. Free Limited Edition promotional Flashdrive! You will also receive regular updates on our progress. You could provide input that can greatly influence the game.<br><br><br>
        <input type="radio" name="donation" value="150">$150+ Donation<br><br>Your gamertag will immortalized forever on this website. You will receive 1 week early access to beta-testing and all DRM Free versions until the final release for yours to
        keep. Free promotional Limited Edition TSHIRT and Flashdrive! You will also receive regular updates on our progress. You could provide input that can greatly influence the game. Your gamertag or name will appear in the game.<br><br><br>
        <input type="radio" name="donation" value="500">$500+ Donation<br><br>Your gamertag will immortalized forever on this website. You will receive 1 week early access to beta-testing and all DRM Free versions until the final release for yours to
        keep. Free promotional Limited Edition TSHIRT, theif sprite stickers and Flashdrive! You will also receive regular updates on our progress. You could provide input that can greatly influence the game. Your gamertag will immortalized forever on
        this website. You will receive 1 week early access to beta-testing and all DRM Free versions until the final release for yours to keep. You will also receive regular updates on our progress. You could provide input that can greatly influence the
        game. Your gamertag or name will appear in the game. You will get to meet the developers.<br><br><br>
        <input type="button" onclick="alert('Donation Picked!')" value="Submit!">
      </form>
      <!---donations-->

    </div>
  </section>

  <section id="About">
    <p><a href="donate.html#top">[Back to Top]</a></p>
  </section>

  <footer>©2017 DarkChaos Games</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="../js/animations.js"></script>
</body>

</html>
