<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="60">
  <meta name="description" content="ChiefDarkChaos Nightly Dev Website">
  <meta name="keywords" content="HTML,CSS">
  <meta name="author" content="Hansel Wei">
  <title>ChiefDarkChaos Games</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/faq.css">
  <script src="./dist/bundle.min.js"></script>
</head>

<body>
  <section id="top"></section>
  <div id="sidebar">
    <ul class="nav">
      <li><form>
      Search Site:
      <input type="search" name="websearch">
    </form></li>
      <li><a href="index">Home</a></li>
      <li><a href="index#About">About</a></li>
      <li><a href="archive">Archive</a></li>
      <li><a href="faq">FAQ</a></li>
      <li><a href="donate">Donate</a></li>
      <li><a href="contact">Contact Us</a></li>
    </ul>
    <div id="sidebar-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <section class="content">
    <div class="title">
      <ul style="list-style-type:none">
        <li><a href="#" id="chest"><img src="images/Chest.png" width="60" height="75" alt="Chest.png"><br>Click Me</a><h2>Days without null pointer exceptions: <span id="increment">0</span></h2></li>
        <li>
          <h1>DarkChaos Games</h1></li>
      </ul>
    </div>

    <h2>FAQ</h2>
    <ul>
      <li><strong>How can I submit a game or idea?</strong>
        <p>Click here</p>
      </li>
      <li><strong>How do I submit my game design experience?</strong><br> Contact us and email the Webmaster. Please provide a PDF or Word Document of your article.<br><br>
      </li>
      <li><strong>How often do you update your website?</strong>
        <p>That depends on how many projects are currently running. I would say once every two weeks at the least for every project.</p>
      </li>
      <li><strong>I wish to start a project with the DarkChaos team. Who do I inquire?</strong><br>
        <br>
        <p>Please contact Darkmastermindz on the <a id="contact-us" href="contact.html">contact us</a>page.</p>
        <br>
      </li>
      <li><strong>I have emailed and have not gotten a response...</strong><br> First of all, that is a statement. NOT a question. There are a whole lot of messages to check out there. If you have not received a reply within 14 days then please send another
        one. Otherwise, wait patiently.<br><br>
      </li>
    </ul>

  </section>
<div id="spacing"></div>
  <section id="About">
      <p align="right"> <a href="faq.html#top">[Back to Top]</a></p>
  </section>
  <footer>© 2017 DarkChaos Games</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="../js/animations.js"></script>
</body>

</html>
