body {
	font: 100%/1.4 "Copperplate Gothic Light", Arial Narrow, New York, Gill Sans;

	background-color: #0098FF;
	margin: 0;
	padding: 0;
	color: #000;
	text-align: justify;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}

ul {
	list-style-image:url(images/bullettheif.png);
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}
p {
	font: 80%/1.0 "Courier New", Courier, monospace
}
a img {
	border: none;
	text-align: center;
}


a:link {
	color:#414958;
	text-decoration: underline;
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	text-align: right;
}

#navleft {
	opacity: 0.90;
}

.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background-color: #FFF;
	margin: 0 auto;
	overflow: hidden;
}

.sidebar1 {
	float: left;
	width: 20%;
	background-color: #FFFD00;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 80%;
	float: left;
	color: inherit;
}

.content ul, .content ol {
	padding: 0 15px 15px 40px;
}

ul.nav {
	list-style: none;
	border-top: 10px solid #F33;
	margin-top: 10px
	margin-bottom: 10px;
}
ul.nav li {
	border-bottom: 1px solid #666;
}
ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	background-color: #8090AB;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color: #6F7D94;
	color: #FFF;
}

.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
body footer {
	text-align: center;
	color:: #FFF
	background-color:#000
; 			color: #FFF;
	font-size: x-small;
}
.container .content p {
	text-align: justify;
}

nav > ul > li > a > .caret {
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;

	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	  transition: color 0.1s linear;
}
li {
	text-align: left;
}
img {
	align: center;
}
