body {
  font: 100%/1.4 "Copperplate Gothic Light", Arial Narrow, New York, Gill Sans;
  background-color: #002B36;
  margin: 5px;
  padding: 5%;
  color: #FFF;
  text-align: justify;
}

/* sidebar stuff */

#sidebar {
  background: #ffffff;
  background-image: url("../images/sidebarback.jpg");
  background-size: cover;
  width: 210px;
  height: 100%;
  display: block;
  position: absolute;
  left: -200px;
  top: 0px;
  transition: left 0.3s linear;
  color: ffffff;
  border-radius: 15px;
}

#sidebar.visible {
  left: 5px;
  text-align: center;
  font-weight: bold;
  color: #DC322F;
  transition: left 0.3s linear;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}

ul li a {
  background: #268BD2;
  color: #ffffff;
  border-top: 4px solid #073642;
  border-radius: 8px;
  display: block;
  width: 180px;
  padding: 10px;
  text-decoration-style: wavy;
}

#sidebar-btn {
  color: #ffffff;
  border-width: thick;
  background-color: #ffffff;
  padding: 5%;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top: 0px;
  right: -60px;
  box-shadow: 10px;
}

#sidebar-btn span {
  color: #ffffff;
  height: 1px;
  background: #111;
  margin-bottom: 5px;
  display: block;
}

#sidebar-btn span:nth-child(2) {
  color: #ffffff;
  width: 75%;
}

#sidebar-btn span:nth-child(3) {
  color: #ffffff;
  width: 50%;
}

ul, ol, dl {
  padding: 0;
  margin: 0;
}

ul {
  list-style-image: url(../images/bullettheif.png);
}

a img {
  border: none;
  text-align: center;
}

a:link {
  color: #414958;
  text-decoration: underline;
}

a:visited {
  color: #4E5869;
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  text-align: right;
}

/* end of sidebar */

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  font: 80%/1.0 "Courier New", Courier, monospace
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-kerning: 100px;
  font-variant: small-caps;
  text-shadow: 5px;
  text-decoration: underline;
  text-decoration-style: wavy;
}

section {
  background-color: rgba(103, 140, 177, 0.5);
  border-color: #ffffff;
  border-width: thick;
  border-radius: 10px;
  padding: 8px;
}

.title {
  text-align: center;
  align-items: center;
}

.spacing {
  padding: 1%;
  margin: 1%;
}

#top {
  background-color: rgb(0, 0, 0, 0);
  border-color: none;
  border-width: none;
  border-radius: 0px;
  padding: 0px;
  visibility: hidden;
}


#chest {
  left: 0;
  text-align:center;
  top: 30px;
  width: 100%
  text-shadow: 5px;
  text-transform: lowercase;
  text-decoration: overline;
  text-decoration-color: green;
  text-rendering: geometricPrecision;
}
